services:
  lake1:
    image: ghcr.io/jackinatox/lake:latest
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"

  lake2:
    image: ghcr.io/jackinatox/lake:latest
    restart: always
    env_file:
      - .env
    ports:
      - "3001:3000"

  lake3:
    image: ghcr.io/jackinatox/lake:latest
    restart: always
    env_file:
      - .env
    ports:
      - "3002:3000"
