services:
    db:
        image: postgres:15-alpine
        restart: unless-stopped
        container_name: db
        # deploy:
        #   resources:
        #     limits:
        #       cpus: '2.0'
        #       memory: 1g
        environment:
            POSTGRES_DB: lake
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 5s
            timeout: 5s
            retries: 5

    valkey:
        container_name: valkey
        restart: always
        environment:
            - VALKEY_EXTRA_FLAGS=--save 60 1 --loglevel warning
        image: valkey/valkey
        ports:
            - '6379:6379'

volumes:
    postgres_data:
