name: Build

on:
    push:
    pull_request:

# Cancel in-progress builds for the same branch
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: self-hosted
        permissions:
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Generate Prisma client
              run: bun run prisma generate

            - name: Build
              run: bun run build
